{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "import", "prettier", "react"],
	"extends": [
		// "plugin:@typescript-eslint/recommended",
		// "prettier/@typescript-eslint",
		// "plugin:prettier/recommended",
		// "prettier/react",
		// "plugin:import/typescript"
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": { "jsx": true }
	},
	"rules": {
		"indent": "off",
		"no-tabs": "off",
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".tsx"]
			}
		],
		"react/jsx-indent-props": 0,
		"react/no-unescaped-entities": "off",
		"react/forbid-prop-types": "off",
		"react/no-array-index-key": "off",
		"no-underscore-dangle": "off",
		"import/prefer-default-export": "off",
		"no-console": "off",
		"function-paren-newline": "off",
		"jsx-a11y/anchor-is-valid": 0,
		"react/prefer-stateless-function": 0,
		"arrow-parens": "off",
		"curly": "off",
		"object-curly-newline": "off",
		"no-confusing-arrow": "off",
		"no-return-assign": "off",
		"no-param-reassign": "off",
		"no-unused-expressions": "off",
		"no-nested-ternary": "off",
		"import/first": "off",
		"import/no-cycle": "off",
		"implicit-arrow-linebreak": "off",
		"no-mixed-spaces-and-tabs": "off",
		"newline-per-chained-call": "error",
		"no-plusplus": "off",
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"printWidth": 100,
				"tabWidth": 3,
				"useTabs": true
			}
		],
		"comma-dangle": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/no-var-requires": "off"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"import/parsers": { "@typescript-eslint/parser": [".ts", ".tsx"] }
	}
}
